.journey-time {
  display: flex;
  justify-content: right;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #6f5677;
  color: white;
}

.time {
  font-size: 1.5em;
  margin-right: 2.5rem;
}

.title {
  font-size: 1.5em;
  margin-right: 2.5rem;
  justify-content: left;
}
