.App {
  text-align: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: #FFF;
  margin: 0;
  padding: .5em;
  background-color: #4b4b4b;
}

#mapId { height: 1000px; }

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}